.to-top {
  background: #28a745;
  position: fixed;
  bottom: 16px;
  right: 32px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  color: #1f1f1f;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s;
  z-index: 1000;
}

.to-top.active {
  bottom: 32px;
  pointer-events: auto;
  opacity: 1;
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.125em;
}
